@using NorthwindWebsite.Business.Models
@using NorthwindWebsite.Infrastructure.Entities

@model List<Category>

@{
    ViewData["Title"] = "Categories";
}

<div class="text-center">
    <h1 style="font-size: 300%;">Categories</h1>
</div>

@{
    //Table parameters:
    var imageWidth = 270;
    var imageHeight = imageWidth / 1.5;
    var imageType = "image/bmp";
    var borderSpacing = "30px";
}

<div>
    <table class="d-flex justify-content-center" style="border-collapse:separate; border-spacing: @borderSpacing;">
        <tr>
            @for (var i = 0; i < 4; i++)
            {
                <td>
                    <a href="@Url.Action("ImageUpload", new { id = @Model[i].CategoryId})">
                        <img src="@Url.Action("Images", new { id = @Model[i].CategoryId})"
                         width=@imageWidth, height=@imageHeight type=@imageType />
                    </a>
                </td>
            }
        </tr>
        <tr class="text-center">
            @for (var i = 0; i < 4; i++)
            {
                <td align="center"><h4>@Model[i].CategoryName</h4></td>
            }
        </tr>
    </table>
    <table class="d-flex justify-content-center" style="border-collapse:separate; border-spacing: @borderSpacing;">
        <tr>
            @for (var i = 4; i < 8; i++)
            {
                <td>
                    <a href="@Url.Action("ImageUpload", new { id = @Model[i].CategoryId})">
                        <img src="@Url.Action("Images", new { id = @Model[i].CategoryId})"
                         width=@imageWidth, height=@imageHeight type=@imageType />
                    </a>
                </td>
            }
        </tr>
        <tr class="text-center">
            @for (var i = 4; i < 8; i++)
            {
                <td align="center"><h4>@Model[i].CategoryName</h4></td>
            }
        </tr>
    </table>
</div>
