@using NorthwindWebsite.Business.Models
@using NorthwindWebsite.Infrastructure.Entities
@using NorthwindWebsite.Presentation.HtmlHelpers
@addTagHelper *, NorthwindWebsite

@model List<Category>

@{
    ViewData["Title"] = "Categories";
}

<link rel="stylesheet" href="~/css/category-page.css" />

<div class="text-center">
    <h1 class="categories-header">Categories</h1>
</div>

@{
    //Table parameters:
    var widthToHeightRatio = 1.5;
    var imageWidth = 270;
    var imageHeight = imageWidth / widthToHeightRatio;
    var imageType = "image/bmp";

    var collectionMiddle = (int)Math.Round((double)Model.Count / 2);
    var firstRowCategories = Model.Take(collectionMiddle).ToList();
    var secondRowCategories = Model.Skip(collectionMiddle).ToList();
}

<div>
    <table class="d-flex justify-content-center">
        <tr>
            @foreach (var category in firstRowCategories)
            {
                <td>
                    <northwind-image id="@category.CategoryId">
                        @Html.NorthwindImageLink(@category.CategoryId, @imageWidth, @imageHeight, @imageType)
                    </northwind-image>
                </td>
            }
        <tr class="text-center">
                @foreach (var category in firstRowCategories)
                {
                <td class="category-name"><h4>@category.CategoryName</h4></td>
                }
        </tr>
    </table>
    <table class="d-flex justify-content-center">
        <tr>
            @foreach (var category in secondRowCategories)
            {
                <td>
                    <northwind-image id="@category.CategoryId">
                        @Html.NorthwindImageLink(@category.CategoryId, @imageWidth, @imageHeight, @imageType)
                    </northwind-image>
                </td>
            }
        </tr>
        <tr class="text-center">
            @foreach (var category in firstRowCategories)
            {
                <td class="category-name"><h4>@category.CategoryName</h4></td>
            }
        </tr>
    </table>
</div>

@section customFooter
    {
    <footer id="footer" class="border-top footer text-muted d-flex justify-content-center">
        <div class="container">
            <table class="list-group-horizontal">
                <tr>
                    <td class="col-5 ">
                        &copy; 2021 - Northwind Website - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </td>
                    <td class="col-5">
                        <div class="text-danger font-weight-bolder">Warning! User categories cannot be added.</div>
                    </td>
                </tr>
            </table>
        </div>
    </footer>
}