@using NorthwindWebsite.Business.Models
@using NorthwindWebsite.Infrastructure.Entities

@model List<Category>

@{
    ViewData["Title"] = "Categories";
}

<div class="text-center">
    <h1 style="font-size: 300%;">Categories</h1>
</div>

@{
    //Table parameters:
    var widthToHeightRatio = 1.5;
    var imageWidth = 270;
    var imageHeight = imageWidth / widthToHeightRatio;
    var imageType = "image/bmp";
    var borderSpacing = "30px";

    var mid = Model.Count / 2;
    var firstRowCategories = Model.Take(mid).ToArray();
    var secondRowCategories = Model.Skip(mid).ToList();
}

<div>
    <table class="d-flex justify-content-center" style="border-collapse:separate; border-spacing: @borderSpacing;">
        <tr>
            @foreach (var category in firstRowCategories)
            {
                <td>
                    <a href="@Url.Action("ImageUpload", new { id = category.CategoryId})">
                        <img src="@Url.Action("Images", new { id = category.CategoryId})"
                         width=@imageWidth, height=@imageHeight type=@imageType />
                    </a>
                </td>
            }

        <tr class="text-center">
                @foreach (var category in firstRowCategories)
                {
                <td align="center"><h4>@category.CategoryName</h4></td>
                }
        </tr>
    </table>
    <table class="d-flex justify-content-center" style="border-collapse:separate; border-spacing: @borderSpacing;">
        <tr>
            @foreach (var category in secondRowCategories)
            {
                <td>
                    <a href="@Url.Action("ImageUpload", new { id = category.CategoryId})">
                        <img src="@Url.Action("Images", new { id = category.CategoryId})"
                         width=@imageWidth, height=@imageHeight type=@imageType />
                    </a>
                </td>
            }
        </tr>
        <tr class="text-center">
            @foreach (var category in firstRowCategories)
            {
                <td align="center"><h4>@category.CategoryName</h4></td>
            }
        </tr>
    </table>
</div>
