@using NorthwindWebsite.Business.Models
@using NorthwindWebsite.Infrastructure.Entities

@model List<Category>

@{
    ViewData["Title"] = "Categories";
}

<link rel="stylesheet" href="~/css/category-page.css" />

<div class="text-center">
    <h1 class="categories-header">Categories</h1>
</div>

@{
    //Table parameters:
    var widthToHeightRatio = 1.5;
    var imageWidth = 270;
    var imageHeight = imageWidth / widthToHeightRatio;
    var imageType = "image/bmp";

    var collectionMiddle = Model.Count / 2;
    var firstRowCategories = Model.Take(collectionMiddle).ToList();
    var secondRowCategories = Model.Skip(collectionMiddle).ToList();
}

<div>
    <table class="d-flex justify-content-center">
        <tr>
            @foreach (var category in firstRowCategories)
            {
                <td>
                    <a href="@Url.Action("ImageUpload", new { id = category.CategoryId})">
                        <img src="@Url.Action("Images", new { id = category.CategoryId})"
                         width=@imageWidth, height=@imageHeight type=@imageType />
                    </a>
                </td>
            }
        <tr class="text-center">
                @foreach (var category in firstRowCategories)
                {
                <td class="category-name"><h4>@category.CategoryName</h4></td>
                }
        </tr>
    </table>
    <table class="d-flex justify-content-center">
        <tr>
            @foreach (var category in secondRowCategories)
            {
                <td>
                    <a href="@Url.Action("ImageUpload", new { id = category.CategoryId})">
                        <img src="@Url.Action("Images", new { id = category.CategoryId})"
                         width=@imageWidth, height=@imageHeight type=@imageType />
                    </a>
                </td>
            }
        </tr>
        <tr class="text-center">
            @foreach (var category in firstRowCategories)
            {
                <td class="category-name"><h4>@category.CategoryName</h4></td>
            }
        </tr>
    </table>
</div>
