@using NorthwindWebsite.Business.Models

@model ProductsDto

@{
    ViewData["Title"] = "Products";
}

<link rel="stylesheet" href="~/css/products.css" />

<div>
    <div>
        <table>
            <tr>
                <td><h1>Products</h1></td>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    @Html.ActionLink("Create new", "Handle", "Products", null, new { @class="btn btn-primary" })
                </td>
            </tr>
        </table>
    </div>

    <div>
        <table class="styled-table">
            <tr>
                <th>Product</th>
                <th>Supplier</th>
                <th>Category</th>
                <th class="num-value-cell">Quantity/unit</th>
                <th class="num-value-cell">Price</th>
                <th class="num-value-cell">Stock</th>
                <th class="num-value-cell">Units/order</th>
                <th class="num-value-cell">Reorder lvl</th>
                <th class="num-value-cell">Discontinued</th>
            </tr>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>@product.ProductName</td>
                    <td>@product.Supplier!.CompanyName</td>
                    <td>@product.Category!.CategoryName</td>
                    <td class="num-value-cell">@product.QuantityPerUnit</td>
                    <td class="num-value-cell">@product.UnitPrice!.Value.ToString("F2")</td>
                    <td class="num-value-cell">@product.UnitsInStock</td>
                    <td class="num-value-cell">@product.UnitsOnOrder</td>
                    <td class="num-value-cell">@product.ReorderLevel</td>
                    <td class="num-value-cell">@(product.Discontinued ? "Yes" : "No")</td>
                    <td>@Html.ActionLink("Edit", "Handle", new { id = @product.ProductId })</td>
                    <td>@Html.ActionLink("Delete", "Delete", new { id = @product.ProductId })</td>
                </tr>
            }
        </table>
    </div>
</div>
